# 전체 무시 후 필요한 것만 허용
/*
!/.gitignore
!/index.html
!/output/

/output/*
!/output/final/
!/output/images/

/output/final/*
!/output/final/step0_cover.html
!/output/final/step1_analysis.html
!/output/final/step2_table.html
!/output/final/step3_simulator.html
!/output/final/step4_testcase.html

/output/images/*
# step1 사용 이미지
!/output/images/hero_power_bg.png
!/output/images/nobg_hero_power_icon.png
!/output/images/nobg_hero_power_ability_icon.png
!/output/images/nobg_hero_power_ability_preset_icon.png
!/output/images/nobg_preset_icon2.png
!/output/images/nobg_party_quest_icon.png
!/output/images/nobg_arena_icon.png
!/output/images/nobg_boss_icon.png
!/output/images/nobg_boss_raid_icon.png
!/output/images/nobg_guild_icon.png
!/output/images/nobg_ability_grade1_icon.png
!/output/images/nobg_ability_grade2_icon.png
!/output/images/nobg_ability_grade3_icon.png
!/output/images/nobg_ability_grade4_icon.png
!/output/images/nobg_ability_grade5_icon.png
!/output/images/nobg_ability_grade6_icon.png
!/output/images/nobg_ability_point_icon-removebg-preview.png
!/output/images/nobg_red_diamond_icon.png
!/output/images/nobg_blue_diamond_icon.png
!/output/images/nobg_ability_point_icon2.png
!/output/images/ability1_1_icon.png
!/output/images/ability2_1_icon.png
!/output/images/ability2_2_icon.png
!/output/images/ability3_1_icon.png
!/output/images/ability3_2_icon.png
!/output/images/ability4_1_icon.png
!/output/images/ability5_1_icon.png
!/output/images/ability5_2_icon.png
!/output/images/ability5_3_icon.png
!/output/images/ability6_1_icon.png
!/output/images/ability6_2_icon.png
!/output/images/ability6_3_icon.png
!/output/images/ability6_4_icon.png
!/output/images/ability6_5_icon.png
!/output/images/Step2_Panel.png
!/output/images/Step3_1_Panel.png
!/output/images/Step3_2_Panel.png
!/output/images/Step4_1_Panel.png
!/output/images/Step4_2_Panel.png
!/output/images/Step4_3_Panel.png
!/output/images/Step4_4_Panel.png
# step2 사용 이미지
!/output/images/hero_power_ability_ui.png
# step0 사용 이미지
!/output/images/mapleIdleRPG_icon.png
